<div class="alert alert-secondary" role="alert">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
    </svg>
    Your Favorites News!
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">News Id</th>
      <th scope="col">Title</th>      
      <th scope="col">Favorite date</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let res of responseFavorites">
      <th scope="row">{{res.id}}</th>
      <td>{{res.articleId}}</td>
      <td>{{res.articleTitle}}</td>  
      <td>{{res.favoriteCreateDatetime}}</td>      
      <td>
        <a href="#" class="button-link" title="Eliminar Favorito" (click)="deleteFavorite(res, $event)">
          <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#000000">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
          </svg>
        </a>
        &nbsp;
        <a href="#" class="button-link" title="Ver Favorito" (click)="viewFavorite(res, $event)">
          <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#000000">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
          </svg>
        </a>
      </td>
    </tr>
  </tbody>
</table>