<div class="container mt-5">
  <h1>{{dataArticleObject.title}}</h1>
  <div class="row">
      <div class="col-md-14 mb-14">
          <div class="card">
              <img src="{{dataArticleObject.image_url}}" alt="Imagen de la noticia" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">{{dataArticleObject.title}}</h5>
                  <p class="card-text">{{dataArticleObject.summary}}.</p>
                  <a href="{{dataArticleObject.url}}" class="btn btn-primary">Leer más</a>
              </div>
          </div>
      </div>
  </div>
</div>

